
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Chatting</h4>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12 row">
                            <div class="col-12 col-sm-6">
                                <div class="card">
                                    <div class="card-body" style="height:500px;overflow: auto;">
                                        <ul class="list-unstyled list-unstyled-border EmployeeList">
                                            @foreach (var Employee in ViewBag.Employees)
                                            {
                                                <li class="media EmployeeChatInfo" data-Employeeid="@Employee.Id" data-EmployeeName="@Employee.Name" data-EmployeeCode="@Employee.EmployeeCode">
                                                    <img alt="image" class="mr-3 rounded-circle" width="50" src="@Employee.ProfileImage">
                                                    <div class="media-body">
                                                        <div class="mt-0 mb-1 font-weight-bold">@Employee.Name</div>
                                                        <div class="text-success text-small font-600-bold">KT-@Employee.EmployeeCode</div>
                                                    </div>
                                                </li>
                                                <hr />
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="card chat-box" id="mychatbox" style="display:none;">
                                    <div class="card-header">
                                        <h4>Chat with <b><i class="SelectedEmployeeName">Ajith Kumar</i></b> <small>[ <span class="text-success EmployeeCode"></span> ]</small></h4>
                                    </div>
                                    <div class="card-body chat-content" style="height: 380px; overflow: auto;">
                                    </div>
                                    <div class="card-footer chat-form">
                                        <input type="text" class="form-control MessageContent" placeholder="Type a message">
                                        <button class="btn btn-primary AddChat" data-Employeeid="">
                                            <i class="far fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../assets/js/stisla.js"></script>
@*<script src="~/assets/js/page/components-chat-box.js"></script>*@
<script src="~/App_Assests/js/Chat.js"></script>
<script>
    var LogginEmployeeId = "@Session["EmployeeId"].ToString()";
    var LogginEmployeeProfileImage = "@Session["ProfileImage"].ToString()";
</script>

