
@{
    ViewBag.Title = "ListEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.dataTables.css">

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Employess List</h4>
                    </div>
                    <div class="card-body">
                        <table id="employeeListTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile Number</th>
                                    <th>D.O.B</th>
                                    <th>Address</th>
                                    <th>Team</th>
                                    <th>Role</th>
                                    <th>Permission Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            @foreach (var Employee in ViewBag.Employees)
                            {
                                <tr>
                                    <td data-id="@Employee.Id" class="UpatedName">@Employee.Name</td>
                                    <td data-id="@Employee.Id" class="UpatedEmail">@Employee.Email</td>
                                    <td data-id="@Employee.Id" class="UpatedMobileNumber">@Employee.MobileNumber</td>
                                    <td data-id="@Employee.Id" class="UpatedDOB">@Employee.DOB.ToShortDateString()</td>
                                    <td data-id="@Employee.Id" class="UpatedAddress">@Employee.Address</td>
                                    <td data-id="@Employee.Id" class="UpatedTeam">@Employee.Team</td>
                                    <td data-id="@Employee.Id" class="UpatedRole">@Employee.Role</td>
                                    @if (@Employee.IsAdmin == 1)
                                    {
                                        <td data-id="@Employee.Id" class="Role">Admin</td>
                                    }
                                    else
                                    {
                                        <td  data-id="@Employee.Id" class="Role">Normal</td>
                                    }
                                    <td class="text-center"><a href="javascript:void(0);" data-id="@Employee.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" id="EditEmployeeInfo"><i class="fas fa-light fa-pen text-info"></i></a> &nbsp; <a href="javascript:void(0);" data-id="@Employee.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" id="DeleteEmployeeInfo"><i class="fas fa-light fa-trash text-danger"></i></a></td>
                                </tr>

                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="ViewEmployeeInfo">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shop Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="EmployeeId"/>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control Name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="input-group">
                        <input type="text" class="form-control Email">
                    </div>
                </div>
                <div class="form-group">
                    <label>Mobile Number</label>
                    <input type="number" class="form-control Number">
                </div>
                <div class="form-group">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control dob" value="2022-01-01" min="1900-01-01" max="3000-12-31">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control Address">
                </div>
                <div class="form-group">
                    <label>Team</label>
                    <input type="text" class="form-control Team">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <input type="text" class="form-control Role">
                </div>
                <div class="form-group">
                    <label>Permission Type</label>
                    <select class="form-control IsAdmin">
                        <option value="0">Normal</option>
                        <option value="1">Admin</option>
                    </select>
                </div>
                <span class="text-danger customErrorMessageUpdateEmployee"></span>
                <button class="btn btn-block btn-info UpdateEmployeeFromSubmit" id="UpdateEmployeeFromSubmit" type="button">Update</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/assets/js/jquery.dataTables.js"></script>
<script src="~/App_Assests/js/employee.js"></script>
<script>
    $(document).ready(function () {
        $('#employeeListTable').DataTable();
    });
</script>