
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.dataTables.css">

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Employess Leave Requests</h4>
                    </div>
                    <div class="card-body">
                        <table id="leaveRequestListTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Team</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Reason</th>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <th>Actions</th>
                                    }
                                    else
                                    {
                                        <th>Status</th>
                                        <th>Comments</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var LeaveRequest in ViewBag.LeaveRequest)
                                {
                                    <tr>
                                        <td>@LeaveRequest.Id</td>
                                        <td>@LeaveRequest.Id</td>
                                        <td>@LeaveRequest.Id</td>
                                        <td>@LeaveRequest.Id</td>
                                        <td>@LeaveRequest.Id</td>
                                        @if (Session["IsAdmin"].ToString() == "1")
                                        {
                                            <td><a href="javascript:void(0)" data-id="@LeaveRequest.Id" id="acceptLeaveRequest"><b class="badge badge-success">Accept</b></a> &nbsp; <a href="javascript:void(0)" data-id="@LeaveRequest.Id" id="rejectLeaveRequest"><i class="badge badge-danger">Reject</i></a></td>
                                        }
                                        else
                                        {
                                            <td><b class="badge badge-success">Accepted</b></td>
                                            <td>Your leave request has been accepted</td>
                                        }

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/assets/js/jquery.dataTables.js"></script>
<script src="~/App_Assests/js/leave.js"></script>
<script>
    $(document).ready(function () {
        $('#leaveRequestListTable').DataTable();
    });
</script>

