
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/assets/css/jquery.dataTables.css">

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Employess Leave Requests</h4>
                    </div>
                    <div class="card-body">
                        <table id="leaveRequestListTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <th>Name</th>
                                        <th>Employee Code</th>
                                        <th>Team</th>
                                    }
                                    <th>Title</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Description</th>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <th>Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var LeaveRequest in ViewBag.LeaveRequest)
                                {
                                <tr>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <td>@LeaveRequest.Name</td>
                                        <td>KT-@LeaveRequest.EmployeeCode</td>
                                        <td>@LeaveRequest.Team</td>
                                    }
                                    <td>@LeaveRequest.Title</td>
                                    <td>@LeaveRequest.FromDate.ToShortDateString()</td>
                                    <td>@LeaveRequest.ToDate.ToShortDateString()</td>
                                    <td>@LeaveRequest.Description</td>
                                    @if (Session["IsAdmin"].ToString() == "1")
                                    {
                                        <td><a href="javascript:void(0)" data-id="@LeaveRequest.Id" data-employeeId="@LeaveRequest.EmployeeId" id="acceptLeaveRequest"><b class="badge badge-success">Accept</b></a> &nbsp; <a href="javascript:void(0)" data-id="@LeaveRequest.Id" data-employeeId="@LeaveRequest.EmployeeId" id="rejectLeaveRequest"><i class="badge badge-danger">Reject</i></a></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="leaveRejectReason">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject leave request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <label>Add Resaon leave rejection</label>
                        <input type="hidden" class="SelectedId" />
                        <input type="hidden" class="SelectedEmployeeId" />
                        <textarea rows="10" cols="500" style="max-width: 100%; min-height: 100px;" class="form-control LeaveRejectionReason" placeholder="Please provide a reason for the leave rejection"></textarea>
                    </div>
                </div>
                <span class="text-danger LeaveRejectionErrorMessage"></span>
                <button class="btn btn-block btn-danger RejectLeaveRequestButton" type="button">Reject</button>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/assets/js/jquery.dataTables.js"></script>
<script src="~/App_Assests/js/leave.js"></script>
<script>
    $(document).ready(function () {
        $('#leaveRequestListTable').DataTable();
    });
</script>

